@font-face {
  font-family: 'NordeaSansSmall-Regular';
  src: url("../fonts/NordeaSansSmall-Regular.woff"), url("../fonts/NordeaSansSmall-Regular.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansSmall-Italic';
  src: url("../fonts/NordeaSansSmall-Italic.woff"), url("../fonts/NordeaSansSmall-Italic.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansSmall-Light';
  src: url("../fonts/NordeaSansSmall-Light.woff"), url("../fonts/NordeaSansSmall-Light.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansSmall-Medium';
  src: url("../fonts/NordeaSansSmall-Medium.woff"), url("../fonts/NordeaSansSmall-Medium.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansSmall-Bold';
  src: url("../fonts/NordeaSansSmall-Bold.woff"), url("../fonts/NordeaSansSmall-Bold.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansSmall-Bolditalic';
  src: url("../fonts/NordeaSansSmall-Bolditalic.woff"), url("../fonts/NordeaSansSmall-Bolditalic.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansLarge-Regular';
  src: url("../fonts/NordeaSansSmall-Regular.woff"), url("../fonts/NordeaSansSmall-Regular.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansLarge-Italic';
  src: url("../fonts/NordeaSansSmall-Italic.woff"), url("../fonts/NordeaSansSmall-Italic.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansLarge-Light';
  src: url("../fonts/NordeaSansSmall-Light.woff"), url("../fonts/NordeaSansSmall-Light.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansLarge-Medium';
  src: url("../fonts/NordeaSansSmall-Medium.woff"), url("../fonts/NordeaSansSmall-Medium.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansLarge-Bold';
  src: url("../fonts/NordeaSansSmall-Bold.woff"), url("../fonts/NordeaSansSmall-Bold.woff2");
  font-weight: normal; }
@font-face {
  font-family: 'NordeaSansLarge-Bolditalic';
  src: url("../fonts/NordeaSansSmall-Bolditalic.woff"), url("../fonts/NordeaSansSmall-Bolditalic.woff2");
  font-weight: normal; }
.btn {
  padding: 10px;
  background-color: #0000A0;
  color: #ffffff; }

.btnMenuButton {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.btnMenuButton:hover {
  background-color: #0000A0; }

.btnMenuSearchbar {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.hide {
  display: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal; }

body {
  color: black;
  font-family: 'Raleway';
  background-color: #FDECE4; }

svg {
  fill: currentColor; }

.icon-outline {
  fill: none;
  stroke: currentColor;
  stroke-width: 2; }

nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: #ffffff;
  background-color: #0000A0; }

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

input {
  border-radius: 10px;
  padding: 5px; }

input:focus {
  outline-width: 0; }

#logo {
  height: 100px; }

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; }

.card {
  position: relative;
  background-color: #ffffff;
  min-height: 300px;
  border-radius: 11px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 14px;
  color: #3399FF; }
  .card > * {
    margin-bottom: 15px;
    font-family: NordeaSansSmall-Medium; }
  .card h2 {
    color: #0000A0; }
  .card h3 {
    font-size: 1rem; }

.pill {
  position: absolute;
  background-color: #3399FF;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: .7rem;
  top: 7px;
  right: 5px; }

.icon-wrapper {
  display: flex;
  justify-content: space-around; }

.icon-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center; }
  .icon-container > * {
    margin: 1px 0; }

.icon-blue {
  color: #0000A0; }

.icon-small {
  height: 1rem;
  vertical-align: text-top; }

.articlecount {
  display: flex;
  align-items: center; }
  .articlecount .icon-blue {
    margin-right: 10px; }
  .articlecount * {
    font-size: 1rem;
    font-weight: normal; }

.card-latest-article-text {
  font-size: 1.5rem;
  color: #0000A0; }

.card {
  width: 400px;
  height: auto; }
  .card input {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #000000;
    padding: 10px;
    color: #000000; }
  .card .btn-login {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
