.btn {
    padding: 10px;
    background-color: $nordea-blue;
    color: $white;
    font-family: "NordeaSansSmall-Medium";
}

.btnMenuButton {
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
	justify-content: center;
    cursor: pointer;
    font-family: "NordeaSansSmall-Medium";
}

.btnMenuButton:hover {
	background-color: $nordea-blue;
}

.btnMenuSearchbar {
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
	justify-content: center;
}