.btn {
    padding: 10px;
    background-color: $nordea-blue;
    color: $white;
    font-family: "NordeaSansSmall-Medium";
	font-size: 1rem;
	border-style: none;
	cursor: pointer;

	&:focus,
	&:hover,
	&:active {
		border-style: none;
		outline: none;
	}
	
	&Compare {
		font-size: .8rem;
		background: $nordea-lightblue;
		padding: .5em 1em;
		border-radius: 1rem;

		&:focus,
		&:hover {
			background: darken($nordea-lightblue, 10%);
		}
		&:active {
			background: darken($nordea-lightblue, 20%);
		}

		&.active {
			background: $nordea-green;

			&:focus,
			&:hover {
				background: darken($nordea-green, 10%);
			}
			&:active {
				background: darken($nordea-green, 20%);
			}
		}
	}
}

.btnMenuButton {
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
	justify-content: center;
    cursor: pointer;
    font-family: "NordeaSansSmall-Medium";
}

.btnMenuButton:hover {
	background-color: lighten($nordea-blue, 5%);
}

.btnMenuSearchbar {
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
	justify-content: center;
}