.btn {
    padding: 10px;
    background-color: $nordea-blue;
    color: $white;
    font-family: "NordeaSansSmall-Medium";
    font-size: 1rem;
}

.btnMenuButton {
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
	justify-content: center;
    cursor: pointer;
	font-family: "NordeaSansSmall-Medium";
	color: $white;
	text-decoration: none;
}

.btnMenuButton:hover {
	background-color: lighten($nordea-blue, 5%);
}

.btnMenuSearchbar {
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
	justify-content: center;
}