.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  position: relative;
  background-color: $white;
  border-radius: 11px;
  box-shadow: 1px 2px 4px rgba($black, .3);
  padding: 25px 14px;
  color: $nordea-lightblue;

  & > * {
    margin-bottom: 15px;
    font-family: NordeaSansSmall-Medium;
    &:last-child {
      margin-bottom: 0;
    }
  }

  

  h2 {
    color: $nordea-blue;
  }

  h3 {
    font-size: 1rem;
  }
}

.pill {
  position: absolute;
  background-color: $nordea-lightblue;
  color: $white;
  padding: 3px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: .7rem;
  top: 7px;
  right: 5px;
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
}

.icon-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  > * {
    margin: 1px 0;
  }


}

.icon-blue {
  color: $nordea-blue;
}

.icon-small {
  height: 1rem;
  vertical-align: text-top;
}

.articlecount {
  display: flex;
  align-items: center;

  .icon-blue {
    margin-right: 10px;
  }

  * {
    font-size: 1rem;
    font-weight: normal;
  }
}

.card-latest-article-text {
  font-size: 1.5rem;
  color: $nordea-blue;
  margin: .5rem 0;
}

.authors-count {
  color: $nordea-blue;
}

.insights-container {
  max-width: 50rem;
  margin: 30px auto;
}