

.logoContainer {
    width: -webkit-fill-available;

    svg {
        display: flex;
        width: 100%;
        max-width: 150px;
    }
}

/* CHART STYLE*/
#container{
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto;
}

$card-gap: 10px;
.chartBox{
    display: flex;
    width: calc(50% - 2 * #{$card-gap});
    background-color: $white;
    border-radius: 11px;
    box-shadow: 1px 2px 4px rgba($black, .3);
    padding: 25px 14px;
    margin: 0 $card-gap;
    margin-bottom: calc(2 * #{$card-gap});
}