

.logoContainer {
    width: -webkit-fill-available;

    svg {
        display: flex;
        width: 100%;
        max-width: 150px;
    }
}

/* CHART STYLE*/
.container-dashboard{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto;
<<<<<<< HEAD
    @media (max-width: $breakpoint-sm ){
        justify-content: center;
    }
=======
    padding-top: 0;
>>>>>>> a84ba3c305bc1701c793523b5ba3a8ec1ba68770
}

.chartBox {
    display: flex;
    width: calc(50% - 2 * #{$card-gap});
    background-color: $white;
    margin: 0 $card-gap;
    margin-bottom: calc(2 * #{$card-gap});
    animation: none;

    &:nth-child(odd) {
        margin-left: 0;
    }
    &:nth-child(even) {
        margin-right: 0;
    }
    @media (max-width: $breakpoint-sm ){
        width: calc(100% - 2 * #{$card-gap});
        margin:10px 0;
    }
}


