@font-face {
  font-family: 'NordeaSansSmall-Regular';
  src:  url('../fonts/NordeaSansSmall-Regular.woff'),
        url('../fonts/NordeaSansSmall-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansSmall-Italic';
  src:  url('../fonts/NordeaSansSmall-Italic.woff'),
        url('../fonts/NordeaSansSmall-Italic.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansSmall-Light';
  src:  url('../fonts/NordeaSansSmall-Light.woff'),
        url('../fonts/NordeaSansSmall-Light.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansSmall-Medium';
  src:  url('../fonts/NordeaSansSmall-Medium.woff'),
        url('../fonts/NordeaSansSmall-Medium.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansSmall-Bold';
  src:  url('../fonts/NordeaSansSmall-Bold.woff'),
        url('../fonts/NordeaSansSmall-Bold.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansSmall-Bolditalic';
  src:  url('../fonts/NordeaSansSmall-Bolditalic.woff'),
        url('../fonts/NordeaSansSmall-Bolditalic.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansLarge-Regular';
  src:  url('../fonts/NordeaSansSmall-Regular.woff'),
        url('../fonts/NordeaSansSmall-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansLarge-Italic';
  src:  url('../fonts/NordeaSansSmall-Italic.woff'),
        url('../fonts/NordeaSansSmall-Italic.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansLarge-Light';
  src:  url('../fonts/NordeaSansSmall-Light.woff'),
        url('../fonts/NordeaSansSmall-Light.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansLarge-Medium';
  src:  url('../fonts/NordeaSansSmall-Medium.woff'),
        url('../fonts/NordeaSansSmall-Medium.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansLarge-Bold';
  src:  url('../fonts/NordeaSansSmall-Bold.woff'),
        url('../fonts/NordeaSansSmall-Bold.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NordeaSansLarge-Bolditalic';
  src:  url('../fonts/NordeaSansSmall-Bolditalic.woff'),
        url('../fonts/NordeaSansSmall-Bolditalic.woff2');
  font-weight: normal;
}