.flex-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login {
	max-width: 400px;
	height: auto;

	input {
		width: 100%;
		margin-bottom: 15px;
		border: 1px solid $black;
		padding: 10px;
		color: $black;

		&::placeholder {
			color: $black;
            font-family: "NordeaSansSmall-Regular";
            font-size: 1rem;
            vertical-align: middle;
		}
	}
	.btn-login {
		width: 100%;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}