input {
	border-radius: 8px;
	padding: 5px;

	&:focus {
		outline-width: 0;
	}
}

.flex-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login {
	max-width: 400px;
    height: auto;
    padding: 25px;

	input {
		width: 100%;
		margin-bottom: 15px;
		border: 1px solid $black;
		padding: 10px;
		color: $black;
        font-family: "NordeaSansSmall-Regular";
        font-size: 1rem;

		&::placeholder {
			color: $black;
		}
	}
	.btn-login {
		width: 100%;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}