@import 'fontface';

// Colors
$nordea-blue: #0000A0;
$nordea-lightblue: #3399FF;
$nordea-pink: #FDECE4;
$nordea-green: #40bfa3;
$white: #ffffff;
$black: #000000;

// Breakpoints
$breakpoint-xs: 500px;
$breakpoint-sm: 768px;





$card-gap: 10px;
