@import 'vars';
@import 'buttons';
@import 'utils';

body {
	color: black;
	font-family: 'Raleway';
	background-color: $nordea-pink;
}

svg {
	fill: currentColor;
}

.icon-outline {
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
}

nav {
	margin: 0;
	display: flex;
	flex-direction: row;
	width:100%;
	height:auto;
	color: $white;
	background-color: $nordea-blue;
}

input {
	border-radius: 8px;
	padding: 5px;
}

input:focus {
    outline-width: 0;
}

#logo {
	height: 100px;
}

<<<<<<< HEAD
@import 'login';
@import 'compare';
@import 'dashboard';
=======
.container {
	padding: 30px 20px;
}

@import 'compare';
<<<<<<< HEAD

.card {
	width: 400px;
	height: auto;
	input {
		width: 100%;
		margin-bottom: 15px;
		border: 1px solid $black;
		padding: 10px;
		color: $black;
	}
	.btn-login {
		width: 100%;
	}
}

=======
@import 'login';
>>>>>>> 53022724726291afb0adeaead824b4c7f0060cdc
>>>>>>> 223481afa48f754ea336edebc57452050823aa5c
