@import 'vars';
@import 'buttons';
@import 'utils';

body {
	color: black;
	font-family: 'Raleway';
	background-color: $nordea-pink;
}

svg {
	fill: currentColor;
}

.icon-outline {
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
}

nav {
	margin: 0;
	display: flex;
	flex-direction: row;
	width:100%;
	height:auto;
	color: $white;
	background-color: $nordea-blue;
}

input {
	border-radius: 8px;
	padding: 5px;
}

input:focus {
    outline-width: 0;
}

#logo {
	height: 100px;
}

@import 'compare';
@import 'login';
